@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
@*<h3>@ViewData["Message"</h3>*@


<h1>Hello, my name is</h1>
<h1>@Model.Name</h1>
<h1>@Model.Location</h1>
<h1>@Model.Beer</h1>
<p>Use this area to provide additional information.</p>
 